* {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

body {
 background-color: #000028;   
 color: #dfe0ff;
}

.container {
    margin: auto;
    width: 92vw;
    max-width: 1400px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;


}

.card {
    background-color: rgba(255, 255, 255, 0.363);
    min-width: 100px;
    min-height: 250px;
    padding: 20px;
    border-radius: 5px;

}

.card-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.divider {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
    width: 100%;
    background-color: beige;
}

.icon {
    width: 20px;
}

.icon-wrap {
    cursor: pointer;
    padding: 5px;
}

.modal {
    margin: auto;
    width: 92vw;
    min-height: 300px;
    min-width: 300px;
    max-width: 500px;
    border: rgba(255, 255, 255, 0.363) solid 1px;
    border-radius: 5px;
    padding: 30px;
    background-color: white;
    position: fixed;
    top: 50%;
    bottom: 50%;
    right: 0;
    left: 0;
}

.screen-content {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(41, 39, 39, 0.589);
    backdrop-filter: blur(3px);
    background-color: saturate(80%);
}